.myDialog {
    color: antiquewhite;

}

.MuiPaper-root p {
    margin-top: 0px;
    font-size: 1.3rem;
    text-align: center;
}

.MuiPaper-root .err {
    display: block;
    font-size: 1rem;
    color: #ff0202;
    text-align: center;
    align-self: center;
}

.MuiPaper-root .none {
    display: none;
}

